@model IEnumerable<Spotify.Models.db.Cancion>

@{
    ViewData["Title"] = "Lista de Canciones";
}

<head>
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" type="text/css" href="/css/admin/spotify.css">
</head>
<header>
    <div class="header-content">
        <div class="logo">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/71/Spotify.png/768px-Spotify.png" alt="Spotify Logo" class="spotify-logo"> <h1>Spotify |</h1><h4> Lista de Canciones</h4>
        </div>
    </div>
</header>
<a class="ButtonBack" asp-controller="Usuarios" asp-action="Login">Cerrar Sesion</a>
<body>
    <div id="search-form">
    <form asp-action="Index" method="get">
            <input type="text" id="searchInput" name="searchString" class="buscarInput" placeholder="¿Qué quieres escuchar?" />
        <button type="submit" class="buscarButton slide_right" id="buscarButton">Buscar</button>
    </form>
</div>

        <button class="agregarButton slide_right" data-action="Create" id="agregarButton">Agregar Canción</button>

    <div id="canciones-grid">

        @foreach (var item in Model)
        {
            <div class="cancion">
                <img src="@item.Portada" alt="Portada de @item.Titulo">
                <div class="info">
                    <h2>@item.Titulo</h2>
                    <p>Intérprete: @item.Interprete</p>
                    <p>Álbum: @item.Album</p>
                    <p>Género: @item.Genero</p>
                    <p>Año: @item.Anio</p>
                    <button class="update-button" data-action="Edit" data-id="@item.Id">Editar</button>
                    <button class="delete-button" data-action="Delete" data-id="@item.Id">Borrar</button>
                </div>
            </div>
        }
    </div>
    <section class="features" id="about">
        <div class="feature">
            <h2>Compañia</h2>
            <p>Acerca de nosotros</p>
            <p>Empleos</p>
        </div>
        <div class="feature">
            <h2>Comunidades</h2>
            <p>Servicios para artistas</p>
            <p>Desarrolladores</p>
            <p>Publicidad</p>
        </div>
        <div class="feature">
            <h2>Enlaces Utiles</h2>
            <p>Ayuda</p>
            <p>Aplicacion movil gratuita</p>
        </div>
    </section>
    <footer>
        <h3>Spotify</h3>
        <p>&copy; 2023 Spotify | Universidad Catolica Boliviana | Todos los derechos reservados</p>
    </footer>

    <script src="/js/botones.js"></script>
</body>
